<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://xzxy.ahau.edu.cn/">CIAI</a></li>
				<li><a href="https://www.ahau.edu.cn/">AAU</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/about">About</a></li>
			</ul>

	  </div>
	</div>
  </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
